@model IEnumerable<testowo.Models.Order>
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>OrderList</h2>

<div>
    <hr />
    <h2 class="manageHeader">Twoje zamówienia</h2>

    <div>
        @if (Model.Any())
        {
            <table id="zamowienia-table">

                @foreach (var zamowienie in Model)
                {
                    <tr @if (zamowienie.OrderStatus == testowo.Models.OrderStatus.New) { <text> class="noweZamowienie" </text> }>
                        <td>
                            <strong>Nr zamówienia: </strong>@zamowienie.OrderID
                        </td>
                        <td>
                            <strong>Data: </strong>
                            @zamowienie.AddDate.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            <strong>Stan: </strong><br />

                            @if (ViewBag.UserIsAdmin)
                            {
                                using (Html.BeginForm("ChangeOrderStatus", "Manage"))
                                {
                                    @Html.HiddenFor(o => zamowienie.OrderID)
                                    @Html.EnumDropDownListFor(o => zamowienie.OrderStatus, new { @class = "StanZamowieniaZmien" })
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(o => zamowienie.OrderStatus)
                            }
                        </td>
                        <td>
                            <strong>Dane wysyłkowe:</strong><br />
                            @zamowienie.Name @zamowienie.LastName<br />
                            @zamowienie.Adress<br />
                            @zamowienie.ZipCode @zamowienie.Town<br />
                        </td>
                        <td>
                            <strong>Uwagi: </strong><br />
                            @zamowienie.Commentary
                        </td>
                        <td>
                            <strong>Łączny koszt:</strong> @zamowienie.OrderValue zł
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <section>
                                <ul class="TrzyKolumnyList duzaListaKursy-bottom">

                                    @foreach (var pozycjaZamowienia in zamowienie.OrderItem)
                                    {
                                        <li>
                                            <article>
                                                <a class="kursSzczegolyLink" href="@Url.Action("Details", "Course", new { id = pozycjaZamowienia.OrderID })">
                                                    <img class="kurs" src="@Url.Content("~/Content/Course/" + pozycjaZamowienia.course.NamePicture)" />
                                                    <h1>
                                                        @pozycjaZamowienia.course.AutorCourse - @pozycjaZamowienia.course.TitleCourse<br />
                                                        <strong>sztuk: @pozycjaZamowienia.Amount, łącznie: @(pozycjaZamowienia.Amount * @pozycjaZamowienia.PurchasePrice)  zł</strong>
                                                    </h1>
                                                </a>
                                            </article>
                                        </li>
                                    }
                                </ul>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <!-- nastepne zamowienie -->
                }
            </table>
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                Brak zamówień.
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>

    <script>
    $(".StanZamowieniaZmien").on('change', function (e) {
        //e.preventDefault();
        var f = $(this.form);
        var tr = f.closest("tr");
        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@testowo.Models.OrderStatus.New.ToString()') {
                tr.addClass("noweZamowienie")
            }
            else {
                tr.removeClass("noweZamowienie");
            }
          });
    });
    </script>
}